<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- sql7145733 is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://sql7.freemysqlhosting.net/sql7145733
        </property>
        <property name="hibernate.connection.username">
            sql7145733
        </property>
        <property name="hibernate.connection.password">
            WSeC627snV
        </property>

        <!-- List of XML mapping files -->
        <mapping class="entityModels.Employee"/>

    </session-factory>
</hibernate-configuration>